<h1>沖縄のラーメン屋データベース</h1>
<h2>新着店舗</h2>
<div class="shop">
<ul>
  <% @shops.each do |shop| %>
  <li><span class="thumbnail"></span><b><%= link_to(shop.name,shop) %></b>
    <br /><%= shop.address %>&nbsp;<%= shop.phone %></li>
  <% end %>
</ul>
</div>
<br>
<% if user_signed_in? %>
<%= link_to 'New Shop', new_shop_path %>
<% end %>
<h1>このサイトについて</h1>
