<h1>沖縄のラーメン屋データベース</h1>
<h2>新着店舗</h2>
<table width="100%">


  <tbody>
  <% @shops.each do |shop| %>
      <tr>
        <td><b><%= link_to(shop.name,shop) %></b>&nbsp;<%= shop.address %>&nbsp;<%= shop.phone %>
        </td>
       </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Shop', new_shop_path %>
<% end %>
<h1>このサイトについて</h1>
