/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
.wrapper {
    max-width: 1080px;
    width: 1080px;
    padding: 0px;
    margin: 0px auto;
    clear:both;
}
.header{
    background-color: #f8eed8;
    height:110px;
    margin: 0px;
    padding: 0px;
}
.logo{
    width:312px;
    float: left;
}
.logo h1{
    margin: 0px;
    padding: 0px;
}
.logo h1 a{
    text-indent: -999999px;
    width: 312px;
    height: 110px;
    background-image: url('../images/logo.png');
    display: block;
    margin: 0px;
    padding: 0px;
}
.banner{
    width: 768px;
    float: left;
    padding: 10px 0px;
    margin: 0px auto;
    height: 90px;
    text-align: center;
}
.nav{
    height: 40px;
    background-color: #b40000;
}
.nav ul{
    margin: 0px;
    padding: 0px;
    list-style:none;
}
.nav ul li{
    height: 40px;
    float: left;
    width: 135px;
}
.main{}
.shop{
    margin: 20px 0px;
}
.shop ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.shop ul li{
    height: 110px;
    border-bottom: 1px solid #aaa;
    padding: 15px 0px;
    clear: both;
}
.thumbnail{
    display: block;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
    border: none !important;
}
.thumbnail img{
    border: none !important;
}
.title{
    width: 560px;
    padding: 10px;
    background-color: #f8eed8;
    margin-bottom: 20px;
}
.title h1{
    font-size: 140% !important;
    font-weight: bold !important;
    border: none !important;
}
.title .kana{
    font-size: 70%;
    margin: 0px 0px 0px 20px;
}
.title .address{
    font-size: 90%;
    margin: 0px 0px 0px 20px;
}
.infomain{
    margin: 20px 0px;
}
.infoimg{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}
.infoimg img{
    width:580px;
    height: 400px;
}
.info{
    float: left;
    width: 392px;
}
.info table{
    width: 372px;
    padding: 10px;
}
.info table tr{
    padding: 0px;
    margin-bottom: 1px;
    border-bottom: 1px solid #000;
}
.info table tr th{
    background-color: #eee;
    text-align: right;
    font-size: 80%;
    padding: 5px;
    width: 20%;
}
.info table tr td{
    text-align: left;
    font-size: 80%;
    padding: 5px;
    width: 80%;
}
.info2{
    float: left;
    width:168px;
}
.comment{
    margin: 20px 0px;
}
.author{
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding: 10px;
    background-color: #f8eed8;
}
.cmt{
    line-height: 1.8em;
    padding: 20px;
    font-size: 90%;
}
.meta{
    text-align: right;
    font-size: 80%;
    margin-bottom: 20px;
}
.fbcomment{
    margin: 20px 0px;
}
.sideleft{
    float: left;
    width:180px;
}
.sideright{
    float: left;
    width:300px;
}
.main{
    float: left;
    width:580px;
    margin: 0px 10px;
}
.main h1{
    font-size: 100%;
    padding:5px;
    line-height: 1.0em;
    border: 1px solid #000;
}
footer{
    clear:both;
    border-top: 1px solid #000;
    margin: 20px 0px;
    padding: 20px 0px;
}
.clearfix{
    clear: both;
}